$color_1: #333;
$color_2: white;
$font-family_1: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$background-color_1: #1976d2;

.toolbar {
	height: 60px;
	display: flex;
	align-items: center;
	background-color: $background-color_1;
	color: $color_2;
	font-weight: 600;
	img {
		margin: 0 16px;
	}
	#twitter-logo {
		height: 40px;
		margin: 0 8px;
		&:hover {
			opacity: 0.8;
		}
	}
	#youtube-logo {
		height: 40px;
		margin: 0 16px;
		&:hover {
			opacity: 0.8;
		}
	}
}

.content{
	padding: 40px 30px;
}
